@import "reset.css";

:root {
  --maincolor: #3594ae;
}

.link {
  text-decoration: none;
  color: var(--maincolor);
  font-family: sans-serif;
  margin-top: 10px;
}

.title {
  color: var(--maincolor);
  font-size: 32px;
  max-width: 80%;
  font-weight: bold;
  font-family: sans-serif;
  margin-top: 10px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color: #131313;
}

.submited {
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: var(--maincolor);
  font-size: 24px;
}
.submited p {
  background-color: green;
  padding: 5px 10px;
  color: white;
  font-family: sans-serif;
}
