@import "reset.css";
@import "global.css";

table {
  width: 80%;
  color: var(--maincolor);
  border: 2px solid var(--maincolor);
  font-family: sans-serif;
}

th {
  color: #131313;
  background-color: var(--maincolor);
  padding: 10px 0px;
}

td {
  border: 0.5px solid var(--maincolor);
  margin-top: 2px;
  padding: 5px 3px;
}

td:first-child {
  text-transform: capitalize;
}

a {
  text-decoration: none;
  color: black;
  display: block;
}

.delete {
  background-color: red;
  text-align: center;
}
.edit {
  background-color: yellow;
  text-align: center;
}
